source https://www.nuget.org/api/v2
storage:none
framework: netstandard2.0

nuget FSharp.Core redirects:force
nuget Fable.Core
nuget Fable.Import.Express
nuget Fable.Import.Firebase.Admin
nuget Fable.PowerPack

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json

    framework: netstandard2.0

    clitool dotnet-fable

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Api.GitHub
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.NPM